@import "~base/product/detail";

.product-notification {
    .btn-block {
        width: auto;
        margin-top: 20px;
    }
}

#notificationModal {
    .btn-block {
        width: auto;
    }
}
